{%- capture sublink -%}
	{%- if link.links.size > 0 -%}

		<div class="submenu submenu--link-{{link.levels | replace: '2', 'parent' | replace: '1', 'child' }}">
			<ul class="menu-list" role="list">
				{%- for sublink in link.links -%}
					{%- render 'link', link: sublink, dropdown: dropdown, showSubLink: showSubLink -%}
				{%- endfor -%}
			</ul>
		</div>
	{%- endif -%}
{%- endcapture -%}
 

{%- capture LINK -%}
	<a href="{{link.url}}" class="link">
		{{- link.title -}}
	</a>
{%- endcapture -%}


<li class="list-item{% if sublink != blank %} has-dropdown{% endif %}{% if link.active or link.child_active %} active{% endif %}">
	{%- if sublink != blank and showSubLink -%}
		{%- case type -%}
			{%- when 'accordion' -%}

				<lazy-script data-tag="accordion-component" data-file="{{ 'accordion-component.js' | asset_url }}" class="menu-accordion">
					<details {% if link.active or link.child_active %} open{% endif %}>
						<summary class="link cursor-pointer flex items-center justify-between">
							<span>{{- link.title -}}</span>
							{%- render 'icons', icon: 'arrow', class: 'expand cursor-pointer' -%}
						</summary>
						{{- sublink -}}
					</details>
				</lazy-script>

			{%- else -%}
				<details>
					<summary>
						<div class="flex justify-between">
							{{- LINK -}}
							{%- render 'icons', icon: 'arrow', class: 'expand cursor-pointer' -%}
						</div>
					</summary>

					{{sublink}}
				</details>
		{%- endcase -%}
	{%- else -%}
		{{- LINK -}}
	{%- endif -%}
</li>