<div class="pagination-holder{% if request.page_type == 'collection' %} jsFilterUpdate{% endif %} empty-hidden">
  {% if type == 'infinite' %}
    <infinite-loading
      data-url="{{paginate.next.url}}&section_id={{section.id}}"
      data-container="{{productContainer}}"
      class="flex100-important relative flex justify-center"
    >
      <div class="loading absolute top-[50%] mt-[-20px] hidden">
        <span class="flex h-[40px] w-[200px] items-center justify-center bg-[var(--btn-background)]">Loading...</span>
      </div>
      <button class="btn btn-1 js-load-more h-[50px] min-w-[240px] rounded-[5px] border border-[var(--btn-border-color)] bg-[var(--btn-background)] p-2 font-[600] uppercase text-[var(--btn-color)] hover:border-[var(--hover-btn-border-color)] hover:bg-[var(--hover-btn-background)] hover:text-[var(--hover-btn-color)] lg:text-[20px]">
        Load more
      </button>
    </infinite-loading>
  {% else %}
    {%- if paginate.pages > 1 -%}
      <ul class="pagination flex items-center justify-center gap-[10px]" role="list">
        <li class="inline-block previous{% unless paginate.previous %} disable pointer-events-none opacity-[0.7]{% endunless %}">
          <a
            href="{{ paginate.previous.url }}"
            title="{{'general.pagination.previous' | t | escape }}"
            class="inherit-color prev flex h-[36px] w-[36px] rotate-[90deg] items-center justify-center rounded-[5px] border border-[#eee] bg-[#fff] hover:border-[#000]"
          >
            {% render 'icons', icon: 'arrow' %}
            {% comment %} <span>{{'general.pagination.previous' | t | escape }}</span> {% endcomment %}
          </a>
        </li>

        {%- for part in paginate.parts -%}
          {%- if part.is_link -%}
            <li class="inline-block">
              <a
                href="{{ part.url }}"
                class="inherit-color flex h-[36px] w-[36px] items-center justify-center rounded-[5px] border border-[#eee] hover:border-[#000]"
              >
                {{- part.title -}}
              </a>
            </li>
          {%- else -%}
            {%- if part.title == '&hellip;' -%}
              <li class="ellipsis inline-block">
                <span>{{ part.title }}</span>
              </li>
            {%- else -%}
              <li class="active inline-block">
                <a
                  href="javascript:;"
                  class="inherit-color flex h-[36px] w-[36px] items-center justify-center rounded-[5px] border border-[#000] bg-[#000] text-[#fff]"
                >
                  {{- part.title -}}
                </a>
              </li>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}

        <li class="inline-block next{% unless paginate.next %} disable pointer-events-none opacity-[0.7]{% endunless %}">
          <a
            href="{{ paginate.next.url }}"
            title="{{'general.pagination.next' | t | escape }}"
            class="inherit-color next flex h-[36px] w-[36px] rotate-[-90deg] items-center justify-center rounded-[5px] border border-[#eee] bg-[#fff] hover:border-[#000]"
          >
            {% comment %} <span>{{'general.pagination.next' | t | escape }}</span> {% endcomment %}
            {% render 'icons', icon: 'arrow' %}
          </a>
        </li>
      </ul>
    {%- endif -%}
  {% endif %}
</div>
