{%- liquid
  assign sectionId = '#shopify-section-' | append: section.id
  assign layout = section.settings.section_layout | handle
-%}

{%- capture stylesheet -%}
    {%- liquid
        assign items_per_row = section.settings.items_per_row | default: section.blocks.size
    -%}
  {%-capture items_class %}
      {%- render 'config-grid', value: items_per_row %}
  {%- endcapture -%}
    {% comment %} {%- render 'config-grid', style: true, value: items_per_row,  id: sectionId -%} {% endcomment %}
  
  {%- endcapture -%}

{%- capture custom_schema_color -%}
    {%- unless section.settings.schema_color_name == blank -%}
      schema-color-{{- section.settings.schema_color_name | handle -}}
    {%- endunless -%}
  {%- endcapture -%}

{% comment %} Classname {% endcomment %}
{%- capture class -%}
    |section-container relative 
    {% if layout == 'boxed' %}|container{% endif %}
{%- endcapture -%}

{%- render 'snippet-section', type: 'css', value: stylesheet -%}

{% paginate blog.articles by section.settings.limit -%}
  <div class="{{ custom_schema_color }} bg-[var(--background)]">
    <div class="{{ class | strip_newlines | replace: '|', ' ' | replace: '   ', '  ' | replace: '  ', ' ' | strip }}">
      <div class="m-[var(--margin)] p-[var(--padding)]">
        <div class="heading">{{ blog.tilte }}</div>
        <div class="section__content-wrapper{% if section.blocks.size > 0 %} flex{% endif %} mb-[50px]">
          <div class="gap-[20px] {{items_class}}">
            {%- for article in blog.articles -%}
              {%- render 'article-item', article: article, class: class -%}
            {%- else -%}
              <p>{{- 'blog.general.no_item' | t -}}</p>
            {%- endfor -%}
          </div>
        </div>
        {%- render 'pagination', paginate: paginate -%}
      </div>
    </div>
  </div>
{%- endpaginate %}

{%- schema -%}
{
  "name": "t:sections.main_blog.name",
  "class": "shopify-section-main-blog",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "General settings"
    },
    {
      "type": "text",
      "id": "schema_color_name",
      "label": "Schema color name"
    },
    {
      "type": "select",
      "id": "section_layout",
      "label": "t:general.styles.section_layout.label",
      "options": [
        {
          "value": "boxed",
          "label": "t:general.styles.section_layout.options.option_1"
        },
        {
          "value": "wide",
          "label": "t:general.styles.section_layout.options.option_2"
        }
      ],
      "default": "boxed"
    },
    {
      "type": "text",
      "id": "padding",
      "label": "t:general.styles.padding.label",
      "info": "t:general.styles.padding.info"
    },
    {
      "type": "text",
      "id": "margin",
      "label": "t:general.styles.margin.label",
      "info": "t:general.styles.margin.info"
    },
    {
      "type": "text",
      "id": "items_per_row",
      "label": "t:general.text.max_items.label",
      "default": "1,2,3"
    },
    {
      "type": "range",
      "id": "limit",
      "label": "Limit",
      "min": 1,
      "max": 50,
      "step": 1,
      "default": 10
    },
    {
      "type": "checkbox",
      "id": "show_paginate",
      "label": "Show pagination",
      "default": true
    }
  ],
  "blocks": []
}
{%- endschema -%}
