{%- liquid
  render 'snippet-section', type: 'css-file', name: 'customer'
  assign sectionId = '#shopify-section-' | append: section.id
  assign layout = settings.account_section_layout | handle
-%}
{%- style -%}
  {{sectionId}}{
    --padding: {{settings.account_section_padding}};
    --margin: {{settings.account_section_margin}};
  }
{%- endstyle -%}
{%- capture pageURL -%}
{%- render 'page-url' -%}{%- endcapture -%}
<!-- request_page_type: {{request.page_type}} = > pageURL: {{pageURL}} -->

{%- liquid
  assign pageTitle = 'customer.reset_password.title' | t
  assign pageContent = 'customer.reset_password.subtext' | t: email: email

  assign password = 'customer.reset_password.password' | t
  assign confirmPassword = 'customer.reset_password.confirm_password' | t
  assign submitButton = 'customer.reset_password.submit' | t
  assign cancelButton = 'customer.general.cancel' | t

  assign errorTitle = 'form.general.error_title' | t
-%}

<div class="layout-{{layout}}">
  <div class="main-page section-container{% if layout == 'boxed' %} container{% endif %} flex flex-1 md:flex-2 flex-gap justify-center text-center">
    <div class="block-item">
      <div class="block-inner">
        <div class="form-wrapper reset-password-form">
          <h1 class="page-heading">{{ pageTitle }}</h1>
          <p>{{ pageContent }}</p>

          {%- form 'reset_customer_password' -%}
            {%- if form.errors -%}
              <p class="form__message error" tabindex="-1" autofocus>
                {%- render 'icons', icon: 'error' -%}
                <span>{{ errorTitle }}</span>
              </p>
              {{ form.errors | default_errors }}
            {%- endif -%}

            <div class="form-field">
              <label class="label-field block text-left" for="password">{{ password }}</label>
              <div class="password-wrapper hide-password">
                <input
                  type="password"
                  name="customer[password]"
                  id="password"
                  class="input-field"
                  autocomplete="new-password"
                  {%- comment -%}placeholder="{{- 'customer.reset_password.password_placeholder' | t -}}"{%- endcomment -%}
                  {% if form.errors contains 'password' %}
                    aria-invalid="true"
                    aria-describedby="password-error"
                  {% endif %}
                >

                <button class="btn-password-toggle cursor-pointer js-password-toggle" type="button">
                  {%- render 'icons', icon: 'hide_password' -%}
                  {%- render 'icons', icon: 'show_password' -%}
                </button>
              </div>
            </div>

            <div class="form-field">
              <label class="label-field block text-left" for="password_confirmation">{{ confirmPassword }}</label>
              <div class="password-wrapper hide-password">
                <input
                  type="password"
                  name="customer[password_confirmation]"
                  id="password_confirmation"
                  class="input-field"
                  autocomplete="new-password"
                  {%- comment -%}placeholder="{{- 'customer.reset_password.confirm_password_placeholder' | t -}}"{%- endcomment -%}
                  {% if form.errors contains 'password_confirmation' %}
                    aria-invalid="true"
                    aria-describedby="password_confirmation-error"
                  {% endif %}
                >

                <button class="btn-password-toggle cursor-pointer js-password-toggle" type="button">
                  {%- render 'icons', icon: 'hide_password' -%}
                  {%- render 'icons', icon: 'show_password' -%}
                </button>
              </div>
            </div>

            <div class="form-field form-button-group">
              <button type="submit" class="btn btn-{{ settings.submit_btn_color }}">{{ submitButton }}</button>
              <a href="{{routes.account_login_url}}" class="link highlight btn btn-{{ settings.cancel_btn_color }}">
                {{- cancelButton -}}
              </a>
            </div>
          {%- endform -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main_account.name",
  "class": "shopify-section-account shopify-section-account-reset",
  "tag": "section",
  "settings": [],
  "blocks": []
}
{% endschema %}
