{%- liquid
  assign sectionId = '#shopify-section-' | append: section.id
  assign layout = section.settings.section_layout | handle
-%}

{% comment %} Classname {% endcomment %}
{%- capture class -%}
      |section-container relative 
      {% if layout == 'boxed' %}|container{% endif %}
  {%- endcapture -%}

{%- render 'snippet-section', type: 'css' -%}

<div class="{{ class | strip_newlines | replace: '|', ' ' | replace: '   ', '  ' | replace: '  ', ' ' | strip }}">
  <div class="m-[var(--margin)] p-[var(--padding)]">
    <div class="article-header relative">
      {%- if article.image -%}
        <div class="article-image">
          {%- render 'image', image: article.image -%}
        </div>
      {%- endif -%}
      <div class="article-header-details">
        {%- if article.tags.size > 0 -%}
          <div class="article-list-tags label-group flex-gap flex">
            {%- for tag in article.tags -%}
              <span class="label">{{ tag }}</span>
            {%- endfor -%}
          </div>
        {%- endif -%}
        <h1 class="article-title">{{ article.title }}</h1>
        <div class="article-date">{{ article.published_at | time_tag: '%d %B %Y' }}</div>
      </div>
      <div class="article-body">
        <div class="article-content">
          {{ article.content }}
        </div>
      </div>
    </div>
  </div>
</div>

{%- schema -%}
{
  "name": "t:sections.main_article.name",
  "tag": "section",
  "class": "shopify-section-main-article",
  "settings": [
    {
      "type": "header",
      "content": "General settings"
    },
    {
      "type": "select",
      "id": "section_layout",
      "label": "t:general.styles.section_layout.label",
      "options": [
        {
          "value": "boxed",
          "label": "t:general.styles.section_layout.options.option_1"
        },
        {
          "value": "wide",
          "label": "t:general.styles.section_layout.options.option_2"
        }
      ],
      "default": "boxed"
    },
    {
      "type": "text",
      "id": "padding",
      "label": "t:general.styles.padding.label",
      "info": "t:general.styles.padding.info"
    },
    {
      "type": "text",
      "id": "margin",
      "label": "t:general.styles.margin.label",
      "info": "t:general.styles.margin.info"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{%- endschema -%}
