{%- liquid
  assign section_id = '#shopify-section-' | append: section.id
  assign layout = section.settings.section_layout | handle
-%}

{%- capture custom_schema_color -%}
  {%- unless section.settings.schema_color_name == blank -%}
    schema-color-{{- section.settings.schema_color_name | handle -}}
  {%- endunless -%}
{%- endcapture -%}

{% comment %} Stylesheet {% endcomment %}
{%- capture stylesheet -%}
  {%- capture css_values -%}
  {%- endcapture -%}
  {%- render 'css-resp', class: section_id, type: 'multi', value: css_values-%}
{%- endcapture -%}
{%- render 'snippet-section'
  , type: 'css'
  , value: stylesheet -%}

{%- capture wrapper_class -%}
  |section-container relative
{%- unless custom_schema_color == blank -%}|{{custom_schema_color}}{%- endunless -%}
  |p-[var(--padding)]
  |m-[var(--margin)]
  {%- if section.settings.show_background -%}|[background:var(--background)] {%- endif -%}
{%- endcapture -%}

{%- capture class -%}
  {%- case layout -%}
    {%- when "boxed" -%}
      |container
    {%- when "boxed_page" -%}
      |container-min
    {%- when "boxed_page_max" -%}
      |container-max
  {%- endcase -%}
{%- endcapture -%}

<div class="{{ wrapper_class | strip_newlines | replace: '|', ' ' | replace: '   ', '  ' | replace: '  ', ' ' | strip }}">
  <div class="{{ class | strip_newlines | replace: '|', ' ' | replace: '   ', '  ' | replace: '  ', ' ' | strip }}">
    <!-- jsFile: cart-component -->
    <cart-component class="block" data-section-id="{{ section.id }}">
      {% if cart.empty? %}
        <div class="text-center">
          <h1 class="cart-empty-title">{{- 'cart.empty.title' | t -}}</h1>
          <a href="{{ section.settings.continue_shopping_url | default: routes.all_products_collection_url }}" class="btn btn-{{ section.settings.button_color }}">
            {{- 'cart.general.continue_shopping' | t -}}
          </a>
        </div>
      {% else %}
        <p class="cart-page-title hidden md:block text-center font-medium text-[20px]">
          {{- 'cart.drawer.title' | t | upcase -}}
          {%- render 'money'
            , value: cart.total_price -%}
        </p>
        {% content_for 'block'
          , type: '_cart-free-shipping'
          , id: 'free-shipping-desktop' %}
        {%- capture fit_profile -%}{% content_for 'block', type: '_cart-move-fit-profile', id: 'cart-move-fit-profile' %}{%- endcapture -%}
        {%- capture cart_accordion -%}{% content_for 'block', type: '_cart-accordion-group', id: 'group-acc-desktop' %}{%- endcapture -%}
        {%- capture checkmark_content -%}
            {% content_for 'block', type: '_cart-group-checkmark-content', id: 'cart-group-checkmark-content' %}
        {%- endcapture -%}

        {%- capture image_with_content -%}
          {% content_for 'block',
              type: '_cart-group-image-with-content',
              id: 'cart-group-image-with-content'
            %}
        {%- endcapture -%}

        {%- capture notes_and_total_price -%}
          {% content_for 'block',
          type: '_cart-group-notes-and-total-price',
          id: 'cart-group-notes-and-total-price'
        %}
        {%- endcapture -%}

        {%- capture group_checkout -%}
          {% content_for 'block', type: '_cart-group-checkout', id: 'group-checkout' %}
        {%- endcapture -%}

        <div class="main-page-wrapper flex flex-col md:flex-row w-full gap-5">
          <div class="main-left w-full md:w-2/3 p-2 md:py-[20px] md:px-[10px] bg-[#F5F5F5] rounded-md">
            {% content_for 'block'
              , type: '_cart-main'
              , id: 'cart-main-desktop' %}
            {{ cart_accordion }}
          </div>
          <div class="main-right w-full md:w-1/3 p-2 md:py-[20px] md:px-[10px] bg-[#F5F5F5] rounded-md hidden md:block">
            <p class="text-[16px] font-[600] leading-[16px] ">{{ 'cart.general.order_summary' | t }}</p>
            {{ fit_profile }}
            {{ checkmark_content }}
            {{ image_with_content }}
            {{ notes_and_total_price }}
            {{ group_checkout }}
          </div>
        </div>
      {% endif %}
    </cart-component>
  </div>
</div>

{%- render 'snippet-section'
  , type: 'css-file'
  , name: 'page-cart' -%}

{% schema %}
  {
    "name": "t:sections.main_cart.name",
    "tag": "section",
    "class": "shopify-section-main-cart",
    "settings": [
      {
        "type": "header",
        "content": "t:general.styles.header"
      },
      {
        "type": "text",
        "id": "schema_color_name",
        "label": "Schema color name"
      },
      {
        "type": "checkbox",
        "id": "show_background",
        "label": "Show background"
      },
      {
        "type": "select",
        "id": "section_layout",
        "label": "t:general.styles.section_layout.label",
        "options": [
          {
            "value": "boxed",
            "label": "t:general.styles.section_layout.options.option_1"
          }, {
            "value": "wide",
            "label": "t:general.styles.section_layout.options.option_2"
          }, {
            "value": "boxed_page",
            "label": "Boxed page"
          }, {
            "value": "boxed_page_max",
            "label": "Boxed page max"
          }
        ],
        "default": "boxed"
      }, {
        "type": "text",
        "id": "padding",
        "label": "t:general.styles.padding.label",
        "info": "t:general.styles.padding.info"
      }, {
        "type": "text",
        "id": "margin",
        "label": "t:general.styles.margin.label",
        "info": "t:general.styles.margin.info"
      }
    ],
    "blocks": []
  }
{% endschema %}