<!-- /// -->
<div id="resultContainer" role="listbox">
  <div class="predictive__search-result empty-hidden">
    {%- if predictive_search.performed -%}
      {%- comment -%} SEARCH QUERIES {%- endcomment -%}
      {%- if predictive_search.resources.queries.size > 0 -%}
        <div class="predictive__search-group">
          <h3 class="fw700">{{- 'search.predictive_search.sugestion' | t -}}</h3>
          <ul role="group" aria-labelledby="predictive-search-queries">
            {%- for item in predictive_search.resources.queries -%}
              <li role="option">
                <p class="" aria-label="{{ item.text }}">
                  <a href="{{ item.url }}" tabindex="-1">
                    {{ item.styled_text }}
                  </a>
                </p>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}
    {%- endif -%}

    {%- comment -%} PRODUCTS {%- endcomment -%}
    {%- if predictive_search.resources.products.size > 0 -%}
      <div class="predictive__search-group">
        <h3 class="fw700">{{- 'search.predictive_search.products' | t -}}</h3>
        <ul role="group" aria-labelledby="predictive-search-products">
          {%- for item in predictive_search.resources.products -%}
            <li role="option">
              <a href="{{ item.url }}" tabindex="-1">
                <div class="item-image-preview">
                  {%- if item.featured_image != blank -%}
                    
                    {%- assign imgCrop = settings.card_image_mode -%}
                    {%- assign cardImageHeight = settings.card_image_ratio | remove: 'auto' | strip -%}
                    {%- if settings.card_ratio_custom != blank -%}
                      {%- assign cardImageHeight =  1.0 | divided_by: settings.card_ratio_custom.aspect_ratio | times: 100 | append: '%' -%}
                      {%- assign focalPoint = settings.card_ratio_custom.presentation.focal_point -%}
                    {%- endif -%}
                    {%- if cardImageHeight == blank -%}
                      {%- assign imageRatio = item.featured_image.aspect_ratio | default: 1 -%}
                      {%- assign cardImageHeight =  1.0 | divided_by: imageRatio | times: 100 | append: '%' -%}
                    {%- endif -%}

                    {%- render 'image', image: item.featured_image, limit: 300, height: cardImageHeight, crop: imgCrop, focalPoint: focalPoint -%}
                  {%- else -%}
                    <div class="image-preview no-image uppercase">
                      <span class="text-overlay">{{- 'search.general.no_image' | t -}}</span>
                    </div>
                  {%- endif -%}
                </div>

                <div class="item-detail">
                  <h3 class="h5 item-title">
                    <p>{{ item.title | highlight: predictive_search.terms }}</p>
                    {%- render 'snippet-product-item', type: 'price', product: item -%}
                  </h3>
                </div>
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    {%- endif -%}

    {%- comment -%} COLLECTIONS {%- endcomment -%}
    {%- if predictive_search.resources.collections.size > 0 -%}
      <div class="predictive__search-group">
        <h3 class="fw700">{{- 'search.predictive_search.collections' | t -}}</h3>
        <ul role="group" aria-labelledby="predictive-search-collections">
          {%- for item in predictive_search.resources.collections -%}
            <li role="option">
              <p class="">                
                <a href="{{ item.url }}" tabindex="-1">{{ item.title }}
                  <!-- {{item.products | map: 'title' | join: '<br>'}} -->
                </a>
              </p>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    {%- endif -%}

    {%- comment -%} ARTICLES {%- endcomment -%}
    {%- if predictive_search.resources.articles.size > 0 -%}
      <div class="predictive__search-group">
        <h3 class="fw700">{{- 'search.predictive_search.articles' | t -}}</h3>
        <ul role="group" aria-labelledby="predictive-search-articles">
          {%- for item in predictive_search.resources.articles -%}
            <li role="option">
              <a href="{{ item.url }}" tabindex="-1">
                <div class="item-image-preview">
                  {%- if item.image != blank -%}

                    {%- assign imgCrop = settings.article_card_image_mode -%}
                    {%- assign cardImageHeight = settings.article_card_image_ratio | remove: 'auto' | strip -%}
                    {%- if settings.article_card_ratio_custom != blank -%}
                      {%- assign cardImageHeight =  1.0 | divided_by: settings.article_card_ratio_custom.aspect_ratio | times: 100 | append: '%' -%}
                      {%- assign focalPoint = settings.article_card_ratio_custom.presentation.focal_point -%}
                    {%- endif -%}
                    {%- if cardImageHeight == blank -%}
                      {%- assign imageRatio = image.aspect_ratio | default: 1 -%}
                      {%- assign cardImageHeight =  1.0 | divided_by: imageRatio | times: 100 | append: '%' -%}
                    {%- endif -%}
                    
                    {%- render 'image', image: item.image, limit: 300, crop: imgCrop, height: cardImageHeight, focalPoint: focalPoint -%}

                  {%- else -%}
                    <div class="image-preview no-image uppercase">
                      <span class="text-overlay">{{- 'search.general.no_image' | t -}}</span>
                    </div>
                  {%- endif -%}
                </div>
                <div class="item-detail">
                  <h3 class="h5 item-title">
                    <p>{{ item.title | highlight: predictive_search.terms }}</p>
                  </h3>
                </div>
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    {%- endif -%}

    {%- comment -%} PAGES {%- endcomment -%}
    {%- if predictive_search.resources.pages.size > 0 -%}
      <div class="predictive__search-group">
        <h3 class="fw700">{{- 'search.predictive_search.pages' | t -}}</h3>
        <ul role="group" aria-labelledby="predictive-search-pages">
          {%- for item in predictive_search.resources.pages -%}
            <li role="option">
              <a href="{{ item.url }}" tabindex="-1">
                <p class="">{{ item.title }}</p>
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    {%- endif -%}
  </div>

  <div class="predictive_search-button">
    <button class="cursor-pointer" tabindex="-1" role="option" aria-selected="false">
      <span>{{ 'search.predictive_search.search_for' | t: terms: predictive_search.terms }}</span>
      <svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.51634 0.13651L7.84379 2.17044C8.05207 2.35245 8.05207 2.64755 7.84379 2.82956L5.51634 4.86349C5.30806 5.0455 4.97038 5.0455 4.7621 4.86349C4.55382 4.68148 4.55382 4.38638 4.7621 4.20436L6.17909 2.96607H0V2.03393H6.17909L4.7621 0.795637C4.55382 0.613624 4.55382 0.318523 4.7621 0.13651C4.97038 -0.0455033 5.30806 -0.0455033 5.51634 0.13651Z" fill="#808080"/>
      </svg>
    </button>
  </div>

  <p class="predictive__search--no-result">
    {{- 'search.predictive_search.no_result' | t -}}
  </p>
</div>
<!-- /// -->
