{%- liquid
  assign sectionId = '#shopify-section-' | append: section.id
  assign layout = section.settings.section_layout | handle
-%}

{%- capture custom_schema_color -%}
  {%- unless section.settings.schema_color_name == blank -%}
    schema-color-{{- section.settings.schema_color_name | handle -}}
  {%- endunless -%}
{%- endcapture -%}

{% comment %} Classname {% endcomment %}
{%- capture class -%}
    |section-container relative {{ custom_schema_color }}
    {% if layout == 'boxed' %}|container{% endif %}
 {%- endcapture -%}

{%- render 'snippet-section', type: 'css' -%}

<div class="{{ class | strip_newlines | replace: '|', ' ' | replace: '   ', '  ' | replace: '  ', ' ' | strip }}">
  <div class="m-[var(--margin)] p-[var(--padding)]">
    <div class="content-wrapper text-[var(--text)]">
      <div class="header-wrapper mb-[30px] text-center">
        {%- unless section.settings.heading == blank -%}
          <div class="heading text-[30px] lg:text-[40px]">
            <h3>{{ section.settings.heading }}</h3>
          </div>
        {%- endunless -%}
        {%- unless section.settings.subtext == blank -%}
          <div class="subtext text-[24px] lg:text-[30px]">
            <p>{{ section.settings.subtext }}</p>
          </div>
        {%- endunless -%}
      </div>
      {% content_for 'blocks' %}
      <div class="button-wrapper mt-[40px] text-center lg:mt-[60px]">
        {%- unless section.settings.btn_link == blank and section.settings.btn_text == blank -%}
          <div class="button mt-[30px] text-[16px]">
            <button
              class="min-h-[51px] min-w-[250px] rounded-[10px] border border-[var(--btn-border-color)] bg-[var(--btn-background)] p-2 font-[600] uppercase text-[var(--btn-color)] hover:border-[var(--hover-btn-border-color)] hover:bg-[var(--hover-btn-background)] hover:text-[var(--hover-btn-color)]"
            >
              <a href="{{ section.settings.btn_link }}">{{ section.settings.btn_text }}</a>
            </button>
          </div>
        {%- endunless -%}

        {%- unless section.settings.rated == blank -%}
          <div class="rated mt-[20px] flex flex-wrap items-center justify-center gap-2 text-[14px]">
            {%- for i in (1..5) -%}
              <span class="inline-block w-[22px] {% if i <= section.settings.rated %}text-[#f7cf2f]{% else %}text-gray-300{% endif %}">
                {{ 'icon-star-rating.svg' | inline_asset_content }}
              </span>
            {%- endfor -%}
            <span>{{ section.settings.text_rated }}</span>
          </div>
        {%- endunless -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "FAQ",
  "tag": "section",
  "class": "ss-faq",
  "presets": [
    {
      "name": "FAQ"
    }
  ],
  "limit": 1,
  "enabled_on": {
    "groups": ["footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Custom content"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Got Questions?",
      "label": "Heading"
    },
    {
      "type": "inline_richtext",
      "id": "subtext",
      "default": "We’ve Got You Covered",
      "label": "Subtext"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button link"
    },
    {
      "type": "range",
      "id": "rated",
      "min": 1,
      "max": 5,
      "step": 1,
      "label": "Rating",
      "default": 5
    },
    {
      "type": "inline_richtext",
      "id": "text_rated",
      "default": "Rated 4.9 stars By 3,000+ Clients",
      "label": "Rated content"
    },
    {
      "type": "select",
      "id": "ratio_video",
      "label": "Ratio Video",
      "options": [
        {
          "value": "horizontal",
          "label": "16:9"
        },
        {
          "value": "middle",
          "label": "4:3"
        },
        {
          "value": "vertical",
          "label": "9:16"
        }
      ],
      "default": "horizontal"
    },
    {
      "type": "header",
      "content": "General settings"
    },
    {
      "type": "text",
      "id": "schema_color_name",
      "label": "Schema color name"
    },
    {
      "type": "select",
      "id": "section_layout",
      "label": "t:general.styles.section_layout.label",
      "options": [
        {
          "value": "boxed",
          "label": "t:general.styles.section_layout.options.option_1"
        },
        {
          "value": "wide",
          "label": "t:general.styles.section_layout.options.option_2"
        }
      ],
      "default": "boxed"
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Padding",
      "default": "0,0 16px",
      "info": "Padding"
    },
    {
      "type": "text",
      "id": "margin",
      "label": "Margin",
      "info": "Margin"
    }
  ],
  "blocks": [{ "type": "_faq-question" }]
}
{% endschema %}
