{% liquid
  assign section_id = '#shopify-section-' | append: section.id
  assign sub_description = section.settings.sub_description
  assign layout = section.settings.section_layout | handle
%}

{% capture css_variables %}
    --section-heading-color: {{ section.settings.section_heading_color }};
    --section-background-image: url({{ section.settings.background_image | image_url }});
    --overlay-color: rgba(21,72,116,0.77); 
    --star-color: #f7cf2f;
    --text-color: #489cd8;
{% endcapture %}

{%- capture class -%}
  |section-container relative
  {% if layout == 'boxed' %}|container{% endif %}
  {%- if section.settings.show_background -%}|[background:var(--background)] {%- endif -%}
{%- endcapture -%}

{%- render 'snippet-section', type: 'css' -%}

{% style %}
  {% render 'css-resp'
  , class: section_id
  , type: 'multi'
  , value: css_variables %}
{% endstyle %}
{% comment %} grid grid-cols-1 gap-2 lg:grid-cols-2 lg:gap-[80px] xl:grid-cols-2 xl:gap-[80px] {% endcomment %}
<div
  class="relative bg-cover bg-center p-[10px]"
  style="background-image: var(--section-background-image);"
>
  <div class="absolute inset-0 bg-[var(--overlay-color)]"></div>
  <div class="{{ class | strip_newlines | replace: '|', ' ' | replace: '   ', '  ' | replace: '  ', ' ' | strip }}">
    <div class="m-[var(--margin)] p-[var(--padding)]">
      <div class="relative flex flex-col md:gap-[40px] lg:flex-row lg:justify-between lg:gap-[80px]">
        <div class="text-white lg:flex lg:flex-1 lg:items-center">
          <div class="">
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when 'title' -%}
                  <div class="title mb-[20px] text-[30px] lg:text-[45px]" {{ block.shopify_attributes }}>
                    <h1>
                      {{ block.settings.title }}
                    </h1>
                  </div>

                {%- when 'sub_title' -%}
                  <div class="sub-title mb-[20px] text-[30px] lg:text-[40px]" {{ block.shopify_attributes }}>
                    {{ block.settings.sub_title }}
                  </div>

                {%- when 'text' -%}
                  {%- assign color = block.settings.color -%}

                  {{ color }}
                  <div
                    class="mb-[20px] text-[14px] lg:text-[20px]"
                    style="color: {{ color }}"
                    {{ block.shopify_attributes }}
                  >
                    {{ block.settings.text }}
                  </div>

                {%- when 'review' -%}
                  <div
                    class="popup-video mb-[20px] flex flex-col gap-[20px] lg:flex-row "
                    {{ block.shopify_attributes }}
                  >
                    <div class="relative h-[200px] w-full border-[2px] border-[#fff] bg-white md:h-[150px] md:w-[150px] lg:h-[150px] lg:w-[150px]">
                      <div
                        class="absolute inset-0 flex cursor-pointer items-center justify-center bg-cover bg-center"
                        style="background-image: url({{ block.settings.video_thumbnail | image_url }});"
                        {{ block.shopify_attributes }}
                      >
                        <div class="w-[40px] text-[#fff]">
                          {{ 'icon-play-circle-bg-black.svg' | inline_asset_content }}
                        </div>
                      </div>
                    </div>
                    <div class="flex flex-1 flex-col gap-2">
                      {% render 'star-rating',
                        rating: block.settings.review_rating_range,
                        position: block.settings.alignment,
                        star_size: block.settings.star_size,
                        rating_text: block.settings.rating_text
                      %}

                      <!-- Paragraph -->
                      <div>
                        <p>{{ block.settings.paragraph }}</p>
                      </div>
                    </div>
                  </div>
                {%- when 'star_rating' -%}
                  <div {{ block.shopify_attributes }}>
                    {% render 'star-rating',
                      rating: block.settings.rating_range,
                      position: block.settings.alignment,
                      star_size: block.settings.star_size,
                      rating_text: block.settings.rating_text
                    %}
                  </div>
              {%- endcase -%}
            {%- endfor -%}
          </div>
        </div>

        {%- render 'contact-form' -%}
      </div>
    </div>
  </div>
</div>

<!-- jsFile: shopify-common -->
<!-- jsFile: pick-province -->

{%- schema -%}
{
  "name": "Contact",
  "tag": "section",
  "settings": [
    // SECTION SETTINGS
    {
      "type": "header",
      "content": "Section settings"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    // GENERAL SETTINGS
    {
      "type": "header",
      "content": "General settings"
    },
    {
      "type": "select",
      "id": "section_layout",
      "label": "t:general.styles.section_layout.label",
      "options": [
        {
          "value": "boxed",
          "label": "t:general.styles.section_layout.options.option_1"
        },
        {
          "value": "wide",
          "label": "t:general.styles.section_layout.options.option_2"
        }
      ],
      "default": "boxed"
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Section Padding",
      "default": "50px 20px",
      "info": "Define the padding for the section. Format: Top Right Bottom Left (e.g., 50px 20px)."
    },
    {
      "type": "text",
      "id": "margin",
      "label": "Margin",
      "info": "t:blocks.block_style.settings.block_margin.info"
    }
  ],
  "blocks": [
    //title
    {
      "type": "title",
      "name": "Title",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Title",
          "default": "Lots for Sale Across the USA"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Color",
          "default": "#ffffff"
        }
      ]
    },
    // sub title
    {
      "type": "sub_title",
      "name": "Sub Title",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "sub_title",
          "label": "Sub Title",
          "default": "Become a landowner for as little as $500 down, in less than 5 minutes."
        },
        {
          "type": "color",
          "id": "sub_color",
          "label": "Color",
          "default": "#ffffff"
        }
      ]
    },
    // text
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text Block",
          "default": "Buy Land & Vacant Lots on Easy Monthly Payment Plans"
        },
        {
          "type": "color",
          "id": "title_color",
          "label": "Color",
          "default": "#ffffff"
        }
      ]
    },
    // star_rating
    {
      "type": "star_rating",
      "name": "Rating",
      "settings": [
        {
          "type": "range",
          "id": "rating_range",
          "min": 1,
          "max": 5,
          "step": 1,
          "label": "Star Rating",
          "default": 5,
          "info": "Set the star rating value (from 1 to 5 stars)."
        },
        {
          "type": "inline_richtext",
          "id": "rating_text",
          "label": "Rating Text",
          "default": "Rated <strong>5</strong> stars By <strong>3,000+</strong> Clients",
          "info": "Customize the text displayed alongside the star rating. Use HTML tags like <strong> for emphasis."
        },
        {
          "type": "select",
          "id": "star_size",
          "label": "Star Size",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "medium"
            },
            {
              "value": "large",
              "label": "large"
            },
            {
              "value": "extra_large",
              "label": "Extra large"
            }
          ],
          "default": "small"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Alignment of Star Rating",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        }
      ]
    },
    // review
    {
      "type": "review",
      "name": "Review",
      "settings": [
        {
          "type": "image_picker",
          "id": "video_thumbnail",
          "label": "Video Thumbnail"
        },
        {
          "type": "inline_richtext",
          "id": "rating_text",
          "label": "Rating Text",
          "default": "Rated <strong>5</strong> stars By <strong>3,000+</strong> Clients",
          "info": "Customize the text displayed alongside the star rating. Use HTML tags like <strong> for emphasis."
        },
        {
          "type": "inline_richtext",
          "id": "paragraph",
          "label": "Paragraph",
          "default": "We've made the land buying process simple and hassle-free for 2000+ happy clients."
        },
        {
          "type": "text",
          "id": "video_url",
          "label": "Video URL",
          "info": "Please paste a YouTube or Vimeo video link."
        },
        {
          "type": "range",
          "id": "review_rating_range",
          "min": 1,
          "max": 5,
          "step": 1,
          "label": "Star Rating",
          "default": 5,
          "info": "Set the star rating value (from 1 to 5 stars)."
        },
        {
          "type": "select",
          "id": "star_size",
          "label": "Star Size",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "medium"
            },
            {
              "value": "large",
              "label": "large"
            },
            {
              "value": "extra_large",
              "label": "Extra large"
            }
          ],
          "default": "small"
        },
        {
          "type": "select",
          "id": "content_position",
          "label": "Content Positino",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        }
      ]
    }
  ],
  "enabled_on": {
    "templates": ["*"],
    "groups": ["aside"]
  },
  "presets": [
    {
      "name": "Contact"
    }
  ]
}
{%- endschema -%}
